
.main-container-skills{
    border-bottom   : 1px solid grey; 
    display: flex;
    /* height: 90vh; */
    width: 100%;
    padding:20px;
    justify-content: space-evenly;
}
.language-skills{
    width: 50%;
    border:1px solid grey;
    height: 70vh;
    /* width: ; */
    /* background-color: black; */
    border-radius: 10px;
    /* opacity: 0.5; */
}
.dsa-skills{
    width: 40%;
    border:1px solid grey;
    height: 70vh;
    border-radius: 10px;
}
.lang-container{
    height: 80%;
}
.lang-title{
    font-size: 1.5rem;
    color: #97BC62;
    /* border: 1px solid rebeccapurple; */
    text-align: center;
}
.dsa-title{
    font-size: 1.5rem;
    color: #97BC62;
    /* border: 1px solid rebeccapurple; */
    text-align: center;
}
.dsa-container{
    height: 75%;
}

/* ..................Skills styling........................ */
/* ...................Main_Cart Styling......................... */

.Main-cart-container-main{
    border-bottom: 1px solid grey;
    border-radius: 25px;
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding:5px 0;
    box-shadow:#97BC62 0px 5px 15px;
    
}

.Main-cart-container-heading{
    display: flex;
    border-bottom: 5px solid #97BC62;
    align-items: center;
    justify-content: center;
    width: fit-content;
    font-size: 1.8rem;
}

.Main-cart-container-items{
    display: flex;
    padding: 30px;
    width: 100%;
    /* border: 1px solid pink; */
    justify-content: space-evenly;
}
/* ..................................Cart Styling..................................... */
.cart-main{
    border-bottom: 1px solid black;
    /* border-ri */
    border-radius: 20px;
    height: 100%;
    width: fit-content;
    display: flex;
    flex-direction: column;
    box-shadow:#969992 0px 5px 10px;

    /* align-items: center; */

}
.cart-main-container{
    /* border: 1px solid rebeccapurple; */
    display: flex;
    color: white;
}
.number{
    font-size: 1.8rem;
    border: 1px solid navajowhite;
    width: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 20px;
    font-weight: bold;

}

.cart-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border:2px solid red; */
    border: 1px solid grey;
    align-items: center;
    width: 20vw;
    border-top-right-radius: 20px;

}
.cart-title span{
    /* border: 1px solid yellow; */
    margin-top: 2px;
    width: 100%;
    /* text-align: center; 
    */
    font-weight: bold;
    font-size: 1.2 rem;
    text-align: center;

    height: 100%;
    

}
.cart-title p{
    border-top:1px solid gray;
    width: 15vw;
    font-size: 1rem;
}
.callToAction{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-action{
    /* border: 1px solid blue; */
    padding: 8px;
    font-size: 0.8rem;
    margin: 7px;
    border-radius: 10px;
}
.btn-action:hover{
    cursor: pointer;
}
/* ..................................Cart Styling..................................... */
/* ...................Main_Cart Styling......................... */





/* .......................Main-section-styling................... */

.Main-section-container{
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    /* padding: 10px; */
    width: 100%;
}
.Main-section-title{
    font-size: 1.8em;
    color:white;
}
/* ........................Main-section-styling................... */


/* .........................Media Queries.................................... */
@media  (min-width:1425px) and (max-width:1441px){
    .dsa-skills{
        left:60em;
    }   
}

@media  (min-width:1022px) and (max-width:1025px){
    .dsa-skills{
        width: 35vw;
        height:45vh;
    }   
    .lang-title{
        font-size: 1.2rem;
    }
    .dsa-title{
        font-size:1.2rem;
    }
    .language-skills{
        height:45vh;
    }
}

@media  (min-width:765px) and (max-width:769px){
    .dsa-skills{
        width: 40vw;
        height:60vh;
    }   

    .lang-title{
        font-size: 1rem;
    }
    .dsa-title{
       
        font-size:0.9rem;
      
    }
    .language-skills{
        width: 50%;
        height:60vh;
    }
    .Main-section-title{
        font-size: 1.5em;    
    }
    .Main-cart-container-main{
        height: 90vh;  
        justify-content: center;      
    }
    
    .Main-cart-container-heading{
        font-size: 1.4rem;
    }
    
    .Main-cart-container-items{
        display: flex;
        /* flex-direction: column; */
        padding: 30px;
        width: 100%;
        /* height: 80%; */
        /* border: 1px solid pink; */
        justify-content: space-evenly;
    }
    /* ..................................Cart Styling..................................... */
    .cart-main{
        border-bottom: 1px solid black;
        /* border-ri */
        border-radius: 20px;
        height: 100%;
        width: fit-content;
        display: flex;
        flex-direction: column;
        box-shadow:#969992 0px 5px 10px;
    
        /* align-items: center; */
    
    }
    .cart-main-container{
        /* border: 1px solid rebeccapurple; */
        display: flex;
        color: white;
        height: 80%;
        width: 100%;
        justify-content: center;
        flex-direction: row;
    }
    .number{
        font-size: 1.8rem;
        border: 1px solid navajowhite;
        width: 8vw;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top-left-radius: 20px;
        font-weight: bold;
    
    }
    
    .cart-title{
       
        width: 18vw;
      
    }
    .cart-title span{
        font-size: 0.8rem;        
    
    }
    .cart-title p{
    
        width: 15vw;
        font-size: 0.8rem;
    }
    
   
}

@media  (min-width:376px) and (max-width:426px){
    .main-container-skills{
        flex-direction: column;
    }
    .dsa-skills{
        width: 100%;
        height:50vh;
        padding: 5px;
        
    }   
    .lang-title{
        font-size: 0.8rem;
    }
    .dsa-title{
        font-size:0.8rem;
    }
    .language-skills{
        width: 100%;
        padding: 5px;
        height:50vh;
        margin-bottom: 10px;
    }
    .Main-section-title{
        font-size: 1.01em;    
    }
    .lang-container{
        /* border: 1px solid red; */
        height: 80%;
    }
    .Main-cart-container-main{
        height: fit-content;
       justify-content: flex-start;    
    }
    
    .Main-cart-container-heading{
        font-size: 1.4rem;
    }
    
    .Main-cart-container-items{
        display: flex;
        flex-direction: column;
        padding: 30px;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
    /* ..................................Cart Styling..................................... */
    .cart-main{
        border-bottom: 1px solid black;
        /* border-ri */
        border-radius: 20px;
        height: 100%;
        width: fit-content;
        display: flex;
        flex-direction: column;
        box-shadow:#969992 0px 5px 10px;
        margin-bottom: 10px;
        /* align-items: center; */
    
    }
    .cart-main-container{
        /* border: 1px solid rebeccapurple; */
        display: flex;
        color: white;
        height: 80%;
        width: 100%;
        justify-content: center;
        flex-direction: row;
    }
    .number{
        font-size: 1.8rem;
        border: 1px solid navajowhite;
        width: 30vw;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top-left-radius: 20px;
        font-weight: bold;
    
    }
    
    .cart-title{
        width: 50vw;
      
    }
    .cart-title span{
        font-size: 0.8rem;        
    
    }
    .cart-title p{
    
        width: 100%;
        font-size: 0.8rem;
    }
    
}

@media  (min-width:321px) and (max-width:376px){
    .lang-container{
        /* border: 1px solid red; */
        height: 80%;
    }
    .main-container-skills{
        flex-direction: column;
    }
    .dsa-skills{
        width: 100%;
        height:50vh;
        padding: 5px;
        
    }   
    .lang-title{
        font-size: 0.8rem;
    }
    .dsa-title{
        font-size:0.8rem;
    }
    .language-skills{
        width: 100%;
        padding: 5px;
        height:50vh;
        margin-bottom: 10px;
    }
    .Main-section-title{
        font-size: 0.8rem;    
    }
    .Main-cart-container-main{
        height: fit-content;
       justify-content: flex-start;    
    }
    
    .Main-cart-container-heading{
        font-size: 1.4rem;
    }
    
    .Main-cart-container-items{
        display: flex;
        flex-direction: column;
        padding: 30px;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
    /* ..................................Cart Styling..................................... */
    .cart-main{
        border-bottom: 1px solid black;
        /* border-ri */
        border-radius: 20px;
        height: 100%;
        width: fit-content;
        display: flex;
        flex-direction: column;
        box-shadow:#969992 0px 5px 10px;
        margin-bottom: 10px;
        /* align-items: center; */
    
    }
    .cart-main-container{
        /* border: 1px solid rebeccapurple; */
        display: flex;
        color: white;
        height: 80%;
        width: 100%;
        justify-content: center;
        flex-direction: row;
    }
    .number{
        font-size: 1.8rem;
        border: 1px solid navajowhite;
        width: 30vw;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top-left-radius: 20px;
        font-weight: bold;
    
    }
    
    .cart-title{
        width: 50vw;
      
    }
    .cart-title span{
        font-size: 0.8rem;        
    
    }
    .cart-title p{
    
        width: 100%;
        font-size: 0.8rem;
    }
    .callToAction{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .btn-action{
        /* border: 1px solid blue; */
        padding: 8px;
        font-size: 0.7rem;
        margin: 7px;
        border-radius: 10px;
    }
    
}

@media  (min-width:319px) and (max-width:321px){
    .lang-container{
        height: 80%;
    }
    .main-container-skills{
        flex-direction: column;
    }
    .dsa-skills{
        width: 100%;
        height:50vh;
        padding: 5px;
        
    }   
    .lang-title{
        font-size: 0.8rem;
    }
    .dsa-title{
        font-size:0.8rem;
    }
    .language-skills{
        width: 100%;
        padding: 5px;
        height:50vh;
        margin-bottom: 10px;
    }
    .Main-section-title{
        font-size: 0.8rem;    
    }
    
    .Main-cart-container-main{
        height: fit-content;
       justify-content: flex-start;    
    }
    
    .Main-cart-container-heading{
        font-size: 1.4rem;
    }
    
    .Main-cart-container-items{
        display: flex;
        flex-direction: column;
        padding: 30px;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
    /* ..................................Cart Styling..................................... */
    .cart-main{
        border-bottom: 1px solid black;
        /* border-ri */
        border-radius: 20px;
        height: 100%;
        width: fit-content;
        display: flex;
        flex-direction: column;
        box-shadow:#969992 0px 5px 10px;
        margin-bottom: 10px;
        /* align-items: center; */
    
    }
    .cart-main-container{
        /* border: 1px solid rebeccapurple; */
        display: flex;
        color: white;
        height: 80%;
        width: 100%;
        justify-content: center;
        flex-direction: row;
    }
    .number{
        font-size: 1.8rem;
        border: 1px solid navajowhite;
        width: 30vw;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top-left-radius: 20px;
        font-weight: bold;
    
    }
    
    .cart-title{
        width: 50vw;
      
    }
    .cart-title span{
        font-size: 0.8rem;        
    
    }
    .cart-title p{
    
        width: 100%;
        font-size: 0.8rem;
    }
    .callToAction{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .btn-action{
        /* border: 1px solid blue; */
        padding: 8px;
        font-size: 0.7rem;
        margin: 7px;
        border-radius: 10px;
    }    
    
}

