/* ..................Skills styling........................ */
.main-container-skills{
    width: 100%;
    padding: 10px;
}
.language-skills{
    top:50px;
    width: 50%;
    height:60vh;
    left:10px;
    border: 1px solid black;
    border-radius: 2%;
    background-color: #97BC62;
    position: relative;
    opacity: 0;  /* Initially hidden */
    transform: translateY(50px); /* Start position is below */
    animation: popFromBelow 3s ease-out forwards;
    box-shadow:#97BC62 0px 5px 15px;
}
.lang-container{
    height: 80%;
    width: 100%;
}
.lang-title{
    font-size: 1.5rem;
    margin-left: 20px;
    text-decoration: underline;
}
@keyframes popFromBelow {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
.dsa-skills{
    width: 30vw;
    height:70vh;
    border: 1px solid black;
    top:-250px;
    left:62em;
    /* display: flex; */

    background-color: #97BC62;
    border-radius: 2%;

    /* align-items: center; */
    /* justify-content: center; */
    padding:0px 5px;
    position: relative;
    transform: translateY(50px);
    animation: popFromBelow 3s ease-out forwards;
    box-shadow:#97BC62 0px 5px 15px;
}
.dsa-container{
    height: 80%;
    width: 100%;
    
    /* border: 1px solid red; */
}
.dsa-title{
    /* border: 1px solid black; */
    font-size: 1.5rem;
    display: flex;
    align-items: flex-end;
    /* margin-left: 20px; */
    height: 10%;
    text-decoration: underline;
}
.leetcode-api-main-container{
    position: relative;
    left:8em;
    top:-180px;
    transform: translateY(50px); /* Start position is below */
    animation: popFromBelow 3s ease-out forwards;
    /* border: 1px solid red; */
    width: 80vw;
    height: 60vh;
}
.leetcode-api-sub-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.leetcode-api-title{
    font-size: 2rem;
    display: flex;
    align-items: flex-end;
    height: 10%;
    text-decoration: underline;
    color:#97BC62
}
.LeetCode-api{
    background-color: #97BC62;
    width: 100%;
    height: 80%;
    border-radius: 2%;
    border: 1px solid black;
    box-shadow:#97BC62 0px 5px 15px;
}



/* ..................Skills styling........................ */


/* ........................Main-section-styling................... */

.Main-section-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.Main-section-title{
    font-size: 1.8em;
    color:white;
    transform: translateY(50px); /* Start position is below */
    animation: popFromBelow 3s ease-out forwards;

}
/* ........................Main-section-styling................... */


/* .........................Media Queries.................................... */
@media  (min-width:1425px) and (max-width:1441px){
    .dsa-skills{
        left:60em;
    }   
}

@media  (min-width:1022px) and (max-width:1025px){
    .dsa-skills{
        width: 35vw;
        height:50vh;
        border: 1px solid black;
        top:-250px;
        left:38em;
    }   
    .lang-title{
        font-size: 1.2rem;
    }
    .dsa-title{
        font-size:1.2rem;
    }
    .language-skills{
        width: 43%;
        height:45vh;
    }
    .leetcode-api-main-container{
        width: 70vw;
        height: 50vh;
    }
    .leetcode-api-title{
        font-size: 1.4rem;
    }
}

@media  (min-width:765px) and (max-width:769px){
    .dsa-skills{
        width: 35vw;
        height:60vh;
        border: 1px solid black;
        top:-250px;
        left:28em;
    }   

    .dsa-container{
        height: 80%;
        width: 100%;
        /* border: 1px solid red; */
    }
    .lang-title{
        font-size: 1rem;
    }
    .dsa-title{
        margin-top: 5px;
        font-size:0.9rem;
        height:fit-content;
        /* border: 1px solid red; */
    }
    .language-skills{
        width: 45%;
        height:60vh;
    }
    .leetcode-api-main-container{
        width: 80vw;
        height: 50vh;
            left:3.7em;
            top:-180px;
    }
    .leetcode-api-title{
        font-size: 1.4rem;
    }
    .Main-section-title{
        font-size: 1.5em;    
    }
}

@media  (min-width:376px) and (max-width:426px){
    .dsa-skills{
        width: 60vw;
        height:50vh;
        border: 1px solid black;
        top:80px;
        left:8em;
    }   

    .dsa-container{
        height: 80%;
        width: 100%;
        /* border: 1px solid red; */
    }
    .lang-title{
        font-size: 0.8rem;
    }
    .dsa-title{
        margin-top: 5px;
        font-size:0.8rem;
        height:fit-content;
        /* border: 1px solid red; */
    }
    .language-skills{
        width: 90%;
        height:45vh;
    }
    .lang-container{
        height: 80%;
        width: 100%;
    }
    .leetcode-api-main-container{
        width: 90vw;
        height: 50vh;
        left:0;
        top:120px;
    }
    .leetcode-api-title{
        font-size: 0.8rem;
    }
    .Main-section-title{
        font-size: 1.01em;    
    }
    
}

@media  (min-width:321px) and (max-width:376px){
    .dsa-skills{
        width: 60vw;
        height:50vh;
        border: 1px solid black;
        top:80px;
        left:6em;
    }   

    .dsa-container{
        height: 100%;
        width: 100%;
        position: relative;
        top:-50px
        /* border: 1px solid red; */
    }
    .lang-title{
        font-size: 0.8rem;
        /* height: 20px; */
        /* border: 1px solid red; */
    }
    .dsa-title{
        margin-top: 5px;
        font-size:0.8rem;
        height:fit-content;
        /* border: 1px solid red; */
    }
    .language-skills{
        width: 90%;
        height:40vh;
    }
    .lang-container{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        top: -50px;
        height: 100%;
        width: 100%;
        border: 1px solid black;
    }
    .leetcode-api-main-container{
        width: 90vw;
        height: 50vh;
        left:0;
        top:120px;
    }
    .leetcode-api-title{
        font-size: 0.7rem;
    }
    .Main-section-title{
        font-size: 0.8rem;    
    }
    
}

@media  (min-width:319px) and (max-width:321px){
    .dsa-skills{
        width: 70vw;
        height:40vh;
        /* border: 1px solid black; */
        top:80px;
        left:3em;
    }   

    .dsa-container{
        height: 100%;
        width: 100%;
        position: relative;
        top:-50px
        /* border: 1px solid red; */
    }
    .lang-title{
        font-size: 0.55rem;
        /* height: 20px; */
        /* border: 1px solid red; */
    }
    .dsa-title{
        margin-top: 5px;
        font-size:0.55rem;
        height:fit-content;
        /* border: 1px solid red; */
    }
    .language-skills{
        width: 100%;
        height:40vh;
        left:0
        /* margin-left: 0; */
    }
    .lang-container{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        top: -50px;
        height: 100%;
        width: 100%;
        /* border: 1px solid black; */
    }
    .leetcode-api-main-container{
        width: 90vw;
        height: 50vh;
        left:0;
        top:120px;
    }
    .leetcode-api-title{
        font-size: 0.55rem;
    }
    .Main-section-title{
        font-size: 0.7rem;    
    }
    .LeetCode-api{
      margin-top: 5px;
    }
    
    
}

