
body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}
.main-div{
    background-color:#101820; 
     opacity: 0.9;
    overflow-x: hidden;
    padding: 20px;
}

/* .....................Font classes............................. */
.lato-thin{
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
    color:#97BC62;
}
.dancing-script{
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    color:#97BC62;

  }
.raleway-thin-black{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;

  }
.raleway-bold{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color:#97BC62;

  }
  
/* btn-primary......................... */
.btn-primary {
    background-color:#2C5F2D;
    color:black;
    width:90px;
    height:38px;
    /* box-shadow:rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    font-size: 0.8rem;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    border: 1px solid black;
    border-radius: 10%;
}
.btn-primary:hover{
    background-color: #97BC62;
    cursor: pointer;
    /* box-shadow:rgba(0, 0, 0, 0.45) 0px 5px 15px; */
}

/* btn-primary......................... */











/* ...........................Media Queries........................................ */
@media only screen and (max-width:600px) {
    .btn-primary{
        width: 65px;
        height: 25px;
        font-size: 0.5rem;
    }
}

@media (min-width:420px) and (max-width:426px){
    .btn-primary{
        width:120px;
        height: 30px;
        font-size: 0.5rem;
    }
} 

@media (min-width:319px) and (max-width:321px){
    .btn-primary{
        width:80px;
        height: 28px;
        font-size: 0.7rem;
    }
} 